In [11]:
def get_plate(url):
    import json
    import requests
    import urllib.request
    from pprint import pprint    
    import time
    x = time.localtime(time.time())
    image = urllib.request.urlretrieve(url,"/home/ray/11.jpg")
    with open('/home/ray/11.jpg', 'rb') as fp:
        response = requests.post(
            'https://platerecognizer.com/api/plate-reader/',
            files=dict(upload=fp),
            headers={'Authorization': 'Token bfa9bc920122339b2d06c7608f33a35140ad24ad'})
    df = dict(response.json())
    ret = {'plate' : df['results'][0]['plate'] ,'year':x.tm_year,'month' : x.tm_mon, 'day' : x.tm_mday , 'hour':x.tm_hour , 'minute':x.tm_min }
    with open('data.json', 'w') as outfile:
        json.dump(ret, outfile)
    print(df['results'][0]['plate'])

In [12]:
t = get_plate("https://www.cartoq.com/wp-content/uploads/2010/02/chevrolet-beat-front-photo.jpg")
type(t)
import pandas as pd
df = pd.read_json("data.json",orient='columns',lines = 'true')
df

hr26az5927

   day  hour  minute  month       plate  year
0   17    11      40      3  hr26az5927  2019

In [13]:
df.iloc[0,0]

17

In [15]:
import sqlite3
conn=sqlite3.connect('main_gate.sqlite')
cursor=conn.cursor()
cursor.execute(" CREATE TABLE SEC(ID INT PRIMARY KEY NOT NULL,PLATE STRING  NOT NULL,DAY INT NOT NULL,HOUR INT NOT NULL,MINUTE INT NOT NULL)")
cursor.close()
conn.commit()
conn.close()

In [18]:
import sqlite3
conn=sqlite3.connect('main_gate.sqlite')
cursor=conn.cursor()
cursor.execute("INSERT INTO SEC(ID,PLATE,DAY,HOUR,MINUTE) VALUES(2,2,3,4,5)");
#cursor.execute("INSERT INTO SEC(ID,PLATE,DAY,HOUR,MINUTE) VALUES(1,"+str(df.iloc[0,2])+","+str(df.iloc[0,0])+","+str(df.iloc[0,1])+","+str(df.iloc[0,2])+")");
cursor.close()
conn.commit()
conn.close()

In [4]:
from firebase import firebase
firebase = firebase.FirebaseApplication('https://your_storage.firebaseio.com', None)
result = firebase.get('/users', None)
print(result)

ModuleNotFoundError: No module named 'firebase'

In [ ]:
import sqlite3

def create():
    try:
        c.execute("""CREATE TABLE mytable
                 (start, end, score)""")
    except:
        pass

def insert():
    c.execute("""INSERT INTO mytable (start, end, score)
              values(1, 99, 123)""")

def select(verbose=True):
    sql = "SELECT * FROM mytable"
    recs = c.execute(sql)
    if verbose:
        for row in recs:
            print row

db_path = r'C:\Users\Prosserc\Documents\Geocoding\test.db'
conn = sqlite3.connect(db_path)
c = conn.cursor()
create()
insert()
conn.commit() #commit needed
select()
c.close()